<div class="jumbotron jumbotron-fluid pt-5">
    <div class="container">
        <h1 class="display-3" style="font-style: bold;">My Blog</h1>
        <p class="lead" style="font-style: italic;">Information loading....</p>
        <p class="lead">
            <hr class="my-2">
            <p> For More info</p>
            <%= link_to "About", about_path, class: "btn btn-primary btn-small" %>
        </p>
    </div>
</div>

